<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ConectArte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/conectArte.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid" id="navbarSupportedContent">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">conectArte</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex gap-3">
                    <select style="width: 150px; border: none" class="form-select" onchange="location = this.value;">
                        <option selected disabled>Docentes</option>
                        <option value="@Url.Action("AddTeacher", "Teacher")">Agregar docente</option>
                        <option value="@Url.Action("ListTeacher", "Teacher")">Listar docentes</option>
                    </select>
                    <select style="width: 150px; border: none" class="form-select" onchange="location = this.value;">
                        <option selected disabled>Coordinadores</option>
                        <option value="@Url.Action("AddCoordinator", "Coordinator")">Alta coordinador</option>
                        <option value="@Url.Action("ListCoordinator", "Coordinator")">Listar Coordinadores</option>
                    </select>
                    <select style="width: 150px; border: none" class="form-select" onchange="location = this.value;">
                        <option selected disabled>Centros</option>
                        <option value="@Url.Action("AddCenter", "Center")">Alta centro</option>
                        <option value="@Url.Action("ListCenter", "Center")">Listar centros</option>
                    </select>
                    <select style="width: 150px; border: none" class="form-select" onchange="location = this.value;">
                        <option selected disabled>Salas</option>
                        <option value="@Url.Action("AddRoom", "Room")">Alta sala</option>
                        <option value="@Url.Action("ListRoom", "Room")">Listar salas</option>
                    </select>
                    <select style="width: 150px; border: none" class="form-select" onchange="location = this.value;">
                        <option selected disabled>Recursos</option>
                        <option value="@Url.Action("AddResource", "Resource")">Alta recurso</option>
                        <option value="@Url.Action("ListResource", "Resource")">Listar recursos</option>
                    </select>
                    <select style="width: 150px; border: none" class="form-select" onchange="location = this.value;">
                        <option selected disabled>Talleres</option>
                        <option value="@Url.Action("AddWorkshop", "Workshop")">Alta Taller</option>
                        <option value="@Url.Action("ListWorkshop", "Workshop")">Listar Talleres</option>
                    </select>
                    <select style="width: 150px; border: none" class="form-select" onchange="location = this.value;">
                        <option selected disabled>Asistentes</option>
                        <option value="@Url.Action("AddAssistant", "Assistant")">Alta Asistente</option>
                        <option value="@Url.Action("ListAssistant", "Assistant")">Listar Asistentes</option>
                    </select>
                    <select style="width: 150px; border: none" class="form-select" onchange="location = this.value;">
                        <option selected disabled>Filtros</option>
                        <option value="@Url.Action("NoResourceWorkshopAssistants", "Filter")">Lista asistentes a talleres sin recursos</option>
                        <option value="@Url.Action("AssistantsForWorkshopAttendance", "Filter")">Listar asistentes con más talleres realizados</option>
                    </select>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - conectArte - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

