@model List<Center>

<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Lista de centros</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Teléfono</th>
                <th>Coordinador</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var center in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => center.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => center.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => center.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => center.Coordinator.Name)
                    </td>
                    <td>
                        <form controller="Center" method="post">
                            <input type="hidden" name="id" asp-for="@center.Id" />
                            <a asp-action="CenterDetails" class="btn btn-sm btn-primary" asp-route-Id="@center.Id">Ver</a>
                            <a asp-action="UpdateCenter" class="btn btn-sm btn-primary" asp-route-Id="@center.Id">Modificar</a>
                            <input type="submit" value="Eliminar" asp-action="DeleteCenter" class="btn btn-sm btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>