@model Center

<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Modificar centro</h1>
    <form asp-action="UpdateCenter" controller="Center" method="post">
        <div class="form-group">
            <label for="Name">Nombre:</label>
            <input type="text" value="@Model.Name" asp-for="Name" class="form-control" id="Name" name="Name">
        </div>
        <div class="form-group">
            <label for="Address">Dirección:</label>
            <input type="text" value="@Model.Address" asp-for="Address" class="form-control" id="Address" name="Address">
        </div>
        <div class="form-group">
            <label for="City">Ciudad:</label>
            <input type="text" value="@Model.City" asp-for="City" class="form-control" id="City" name="City">
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Teléfono:</label>
            <input type="text" value="@Model.PhoneNumber" asp-for="PhoneNumber" class="form-control" id="PhoneNumber" name="PhoneNumber">
        </div>
        <div>
            <label for="CoordinatorId">Coordinador:</label>
            <select id="CoordinatorId" name="CoordinatorId" asp-for="CoordinatorId" class="form-control">
                <option value="">Seleccione un coordinador</option>
                @foreach (var coor in ViewData["Coordinators"] as List<Coordinator>)
                {
                    <option value="@coor.Id">
                        @coor.Name
                    </option>
                }
            </select>
        </div>
        <a href="@Url.Action("ListCenter", "Center")" class="btn btn-secondary text-white mt-2">Cancelar</a>

        <button type="submit" class="btn btn-primary mt-2">Modificar centro</button>
    </form>

</div>