@model conectArte.Models.Assistant
@{
    ViewData["Title"] = "Update Assistant";
    var centers = ViewData["Centers"] as List<conectArte.Models.Center>;
}
<h2>Modificar Asistente</h2>
<form asp-action="UpdateAssistant" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="FullName" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Tipo</label>
        <select asp-for="Type" class="form-control">
            <option value="">Seleccione un tipo...</option>
            <option value="child">Niño</option>
            <option value="teen">Adolescente</option>
            <option value="adult">Adulto</option>
        </select>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Teléfono</label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Centro</label>
        <select asp-for="CenterId" class="form-control">
            <option value="">Seleccione un centro...</option>
            @foreach(var c in centers) {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
    </div>
    <div class="form-group text-center">
        <label for="WorkshopIds" class="w-100 text-center">Talleres realizados:</label>
        <select class="form-control" id="WorkshopIds" name="WorkshopIds" multiple>
            @foreach (var w in ViewData["Workshops"] as List<Workshop>)
            {
                var isAssigned = Model.WorkshopsAttended.Any(rr => rr.Workshop.Id == w.Id);
                <option value="@w.Id" selected="@(isAssigned)">
                    @w.Name
                </option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Modificar</button>
</form> 