@model Teacher

<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Modificar docente</h1>
    <form asp-action="UpdateTeacher" controller="Teacher" method="post">
        <div class="form-group">
            <label for="id">Id:</label>
            <input type="text" value="@Model.Id" asp-for="Id" class="form-control" id="id" name="id" readonly>
        </div>
        <div class="form-group">
            <label for="Name">Nombre completo:</label>
            <input type="text" value="@Model.Name" asp-for="Name" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Teléfono:</label>
            <input type="number" value="@Model.PhoneNumber" asp-for="PhoneNumber" class="form-control" id="phoneNumber" name="phoneNumber">
        </div>
        <div class="form-group">
            <label for="Email">Email:</label>
            <input type="email" value="@Model.Email" asp-for="Email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="Specialty">Especialidad:</label>
            <input type="text" value="@Model.Specialty" asp-for="Specialty" class="form-control" id="specialty" name="specialty">
        </div>
        <button type="submit" class="btn btn-primary">Modificar docente</button>
    </form>

</div>