@model IEnumerable<conectArte.Models.Workshop>
@{
    ViewData["Title"] = "List Workshops";
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Max Capacity</th>
            <th>Teacher</th>
            <th>Room</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var w in Model) {
            <tr>
                <td>@w.Name</td>
                <td>@w.Type</td>
                <td>@w.MaxCapacity</td>
                <td>@w.Teacher?.Name</td>
                <td>@w.Room?.Name</td>
                <td>
                    <a asp-action="UpdateWorkshop" asp-route-id="@w.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="DeleteWorkshop" asp-route-id="@w.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>