@model Room

<div class="container mt-5">
    <h1 class="display-4 text-center">Detalles de la sala</h1>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Identificador</h5>
            <p class="card-text">@Model.Name</p>

            <h5 class="card-title">Capacidad máxima</h5>
            <p class="card-text">@Model.Capacity</p>

            <h5 class="card-title">Centro</h5>
            <p class="card-text">@Model.Center.Name</p>

            <h5 class="card-title">Recursos asignados</h5>
            
            @if (Model.ResourcesRooms != null && Model.ResourcesRooms.Count > 0)
            {
                <ul class="list-group">
                    @foreach (var resroom in Model.ResourcesRooms)
                    {
                        <li class="list-group-item d-flex justify-content-around">
                            <p class="w-25">
                                @resroom.AssignedResource.Name 
                            </p>
                            <form asp-action="UpdateAssignedResourceCount" method="post" class="m-0 d-flex gap-2">
                                <label for="ResourceCount">Cantidad</label>
                                <input class="w-25" type="number" name="ResourceCount" value="@resroom.ResourceCount" id="ResourceCountId" />
                            
                                <input type="hidden" name="roomName" value="@Model.Name" />
                                <input type="hidden" name="ResourceId" value="@resroom.AssignedResource.Id" />
                                <button type="submit" class="btn btn-primary">Actualizar cantidad</button>
                            </form>
                            <form asp-action="DeleteAssignedResource" method="post" class="m-0">
                                <input type="hidden" name="roomName" value="@Model.Name" />
                                <input type="hidden" name="id" value="@resroom.AssignedResource.Id" />
                                <button type="submit" class="btn btn-danger">Eliminar recurso</button>
                            </form>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p class="text-muted">No hay recursos asignados.</p>
            }
        </div>
    </div>

    <a href="@Url.Action("ListRoom", "Room")" class="btn btn-secondary mt-4">Volver al listado</a>
</div>