@model IEnumerable<conectArte.Models.Assistant>

<div class="text-center">
    <h1 class="display-4" style="font-size: 40px">Lista de asistentes con más talleres realizados</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre completo</th>
                <th>Tipo</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Centro</th>
                <th>Cantidad</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td>@a.FullName</td>
                    @switch (a.Type)
                    {
                        case "child":
                            <td>Niño</td>
                            break;
                        case "teen":
                            <td>Adolescente</td>
                            break;
                        case "adult":
                            <td>Adulto</td>
                            break;
                        default:
                            <td></td>
                            break;
                    }
                    <td>@a.Email</td>
                    <td>@a.Phone</td>
                    <td>@a.Center?.Name</td>
                    <td>@a.WorkshopsAttended.Count()</td>

                </tr>
            }
        </tbody>
    </table>
</div>

